@import url("https://fonts.googleapis.com/css2?family=Mina:wght@700&family=Noto+Sans+Bengali:wght@500&display=swap");

.en-font {
    font-family: "Noto Sans Bengali", sans-serif;
}

.bn-font {
    font-family: "Noto Sans Bengali", sans-serif;
}

textarea {
    border-color: darkgray !important;
}

input {
    border-color: darkgray !important;
}

.radio {
    outline: 1px solid darkgray !important;
}

.checkbox {
    border-color: darkgray;
}

.select {
    border-color: darkgray !important;
}

.countdown {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.85;
    font-size: 80px;
    position: fixed;
    text-align: center;
    background-color: black;
}
